body { 
	background-color: #fff;
	
}

.colors {
	height: 50px;
	margin-top: 5px;
}

.clear { display: block; clear: both; }
.light-bg-color { border-right: 1px solid #000; height: 50px; }
.light-display { margin-top: 8px; }
.light-info { height: 40px; }
.edit-button { color: #fff; }

.header-tools { padding: 4px 12px; }
